@model AbcBank.Models.Administrator
@{
    ViewBag.Title = "Admin Address";
}

<h2>Create Authentication Credentail for - @Model.FullName</h2><hr/>

<p>
  <a href="/Admin"><i class="fa  fa-arrow-circle-left"></i> Admin Home Page</a>
</p>

@if (TempData["Response"] != null)
{
    <div class="alert alert-success">
      @TempData["Response"].ToString()
    </div>
}

@using (Html.BeginForm("CreateAuth", "Admin", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form"}))
{
    <h4>Create an administrative email for @Model.FullName</h4><hr/>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
      @Html.LabelFor(m => m.HouseNumber, "House Name/Number:", new { @class = "col-md-3 control-label" })
      <div class="col-md-9">
        @Html.TextBoxFor(m => m.HouseNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.HouseNumber, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-6 col-md-2">
        <input type="submit" value="Save" class="btn btn-default form-control"/>
      </div>
    </div>
}
