@model AbcBank.Models.Account

@{
    ViewBag.Title = "Edit Account";
}

<h2>Edit Account (@Model.AccountNumber)</h2><hr/>

<p>
    <a href="/AbcAccount"><i class="fa  fa-arrow-circle-left"></i> Accounts</a>
</p>

@using (Html.BeginForm("Edit", "AbcAccount", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form"}))
{
    <h3>Account Information</h3><hr/>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        @Html.LabelFor(m => m.AccountName, "Account Name:", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AccountName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            <div class="checkbox">
                <label asp-for="IsJoint">
                    <input asp-for="IsJoint" />
                    @Html.DisplayNameFor(m => m.IsJoint)
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AccountNumber, "Account Number:", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", @readonly = "readonly" })
            @Html.TextBoxFor(m => m.Descriminator, new { @class = "form-control", @type = "hidden" })
            <br/>@Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SortCode, "Branch:", new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.DropDownList("SortCode", (IEnumerable<SelectListItem>)ViewBag.Branch)
            @Html.ValidationMessageFor(m => m.SortCode, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-6 col-md-2">
            <input type="submit" value="Save" class="btn btn-default form-control"/>
        </div>
    </div>
}
