@model IEnumerable<AbcBank.Models.TransactionJoinView>

@{
    ViewBag.Title = "Transactions";
}

<h2>Account Transactions</h2><hr/>
<div class="dropdown">
    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="">
        New Transaction
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="drop4">
        <li>@Html.ActionLink("Credit", "Index", "Credit")</li>
        <li>@Html.ActionLink("Debit", "Credit", "Credit")</li>
        <li>@Html.ActionLink("Fund Transfer", "Credit", "Credit")</li><hr/>
        <li>@Html.ActionLink("Set Savings Interest", "Credit", "Credit")</li>
    </ul>
</div>

@if (TempData["Response"] != null)
{
    <div class="alert alert-success">
        @Html.Raw(TempData["Response"].ToString())
    </div>
}
<br/><br/>
<table class="table table-hover">
    <tr>
        <th>DateTime</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Amount</th>
        <th>Type</th>
        <th>From</th>
        <th>Personel</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateCreated</td>
            <td>@item.AccountName</td>
            <td>@item.AccountNumber</td>
            <td>@item.Amount</td>
            <td>@item.Type</td>
            <td>@item.From</td>
            <td>@item.Personnel</td>
            <td>
                <a href="/Transaction/View/@item.Id" title="settings"><i class="fa fa-cog"></i></a>&nbsp;&nbsp;|
            </td>
        </tr>
    }
</table>





