@model IEnumerable<TransactionJoinView>

@{
    ViewBag.Title = "Transactions";
}

<h2>Account Transactions</h2><hr/>
<div class="dropdown">
    <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="">
        New Transaction
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="drop4">
        <li>@Html.ActionLink("Credit", "Index", "Credit")</li>
        <li>@Html.ActionLink("Debit", "Index", "Debit")</li>
        <li>@Html.ActionLink("Fund Transfer", "Index", "Transfer")</li>
    </ul>
</div>
<br/>
<p>
    <a href="#" id="resetSavingsCount">Reset Savings Monthly Counts</a><br/>
    <a href="#" id="resetDailyCount">Reset Daily Counts</a><br/>
    <a href="#" id="">Set Monthly Interest Rate</a>
</p>


@if (TempData["ResponseCredit"] != null)
{
    <div class="alert alert-success">
         Credit operation was successfull click <a href="@TempData["ResponseCredit"]">here</a> to veiw your transaction details.
    </div>
}
@if (TempData["ResponseDebit"] != null)
{
    <div class="alert alert-success">
         Debit operation was successfull click <a href="@TempData["ResponseDebit"]">here</a> to veiw your transaction details.
    </div>
}
@if (TempData["ResponseTransfer"] != null)
{
    <div class="alert alert-success">
         Tranfer operation was successfull click <a href="@TempData["ResponseTransfer"]">here</a> to veiw your transaction details.
    </div>
}
@if (TempData["Response"] != null)
{
    <div class="alert alert-success">
        @TempData["Response"].ToString()
    </div>
}
<br/><br/>
<table class="table table-hover">
    <tr>
        <th>Transaction Date</th>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Amount</th>
        <th>By</th>
        <th>From</th>
        <th>Personel</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DateCreated.ToString("dddd, MMMM dd, yyyy h:mm tt")</td>
            <td>@item.AccountName</td>
            <td>@item.AccountNumber</td>
            <td><span>&#163</span>@item.Amount</td>
            <td>
                @if (item.Type == "Credit")
                {
                    <span style="color: #3c763d">Credit</span>
                }
                else
                {
                    <span style="color: red">Debit</span>
                }
            </td>
            <td>@item.From</td>
            <td>@item.Personnel</td>
            <td>
                <a href="/Transaction/View/@item.Id" title="view"><i class="fa fa-arrow-circle-right"></i></a>
            </td>
        </tr>
    }
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(
            function() {
                $('#resetSavingsCount').click(
                    function () {
                        $('#resetModal').modal({
                            show: true
                        });
                    });
                $('.resetProceed').click(
                    function () {
                        $(this).attr('disabled','disabled');
                        window.location.replace('/Transaction/ResetSavings');
                    }
                );
                $('#resetDailyCount').click(
                    function () {
                        $('#resetDailyModal').modal({
                            show: true
                        });
                    });
                $('.resetDailyProceed').click(
                    function () {
                        $(this).attr('disabled','disabled');
                        window.location.replace('/Transaction/ResetDailyAmount');
                    }
                );
            }
        );
    </script>
}

<div class="modal fade" tabindex="-1" role="dialog" id="resetModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to rest all savings account monthly counts?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button data="resetProceed" type="button" class="btn btn-primary resetProceed">Reset</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="resetDailyModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to rest all daily withdrawal amounts?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button data="resetProceed" type="button" class="btn btn-primary resetDailyProceed">Reset</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



