@model AbcBank.Models.BankBranch

@{
    ViewBag.Title = "Edit Branch";
}

<h2>Edit Branch</h2>
<h4>Ensure you complete all neccessary fields</h4> <hr/>

<p>
  <a href="/Branch"><i class="fa  fa-arrow-circle-left"></i> Branches</a>
</p>

@using (Html.BeginForm("Edit", "Branch", FormMethod.Post, new { @class = "form-horizontal col-md-8", role = "form"}))
{
    <h3>Edit Branch</h3><hr/>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
      @Html.LabelFor(m => m.BranchName, "Branch Name:", new { @class = "col-md-3 control-label" })
      <div class="col-md-9">
        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BranchName, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(m => m.SortCode, "Sort Code:", new { @class = "col-md-3 control-label" })
      <div class="col-md-9">
        @Html.TextBoxFor(m => m.SortCode, new { @class = "form-control", @id = "sortCodeField", @readonly = "readonly"})
        <span class="col-md-4 help-block"><a href="#" class="generateCode">Generate Sort Code</a></span><br/>
      </div>
    </div>

    <div class="form-group">
      @Html.Label("Select Address", "Select Address:", new { @class = "col-md-3 control-label" })
      <div class="col-md-9">
        @Html.DropDownList("AddressId", (IEnumerable<SelectListItem>)ViewBag.Address, new {@class = "selectpicker"})<br/>
        <span class="col-md-4 help-block">@Html.ActionLink("Create New Address", "Create", "Address")</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-6 col-md-2">
        <input type="submit" value="Save" class="btn btn-default form-control"/>
      </div>
    </div>
}


@section Scripts {
  <script type="text/javascript">
      $(document).ready(
          function() {
              $(".generateCode").click(
                  function() {
                      var sortCode = "20-22-";
                      var rand = Math.floor(Math.random() * 40) + 10;
                      sortCode = sortCode + rand;
                      $('#sortCodeField').val(sortCode);
                  }
              );
          }
      );
  </script>
}
