@model Account

@{
    ViewBag.Title = "Transfer Credentials";
}

<h2>Transfer Operation</h2><hr/>
<p>
    <a href="/Transaction"><i class="fa fa-arrow-circle-left"></i> Transactions</a>
</p>
<h3 class="alert alert-warning">Ensure all credentails are correct before proceeding</h3>
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"].ToString()
    </div>
}

<div asp-validation-summary="All" class="text-danger"></div>

<h3>Sender</h3>
<hr class="intro-divider-full"/>
<div class="form-group">
    <div class="col-md-2"><b>Account Name:</b></div>
    <div class="col-md-10">
        @Model.AccountName
    </div>
</div><br/>
<div class="form-group">
    <div class="col-md-2"><b>Account Number:</b></div>
    <div class="col-md-9">
        @Model.AccountNumber
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"><b>Account Holder(s):</b></div>
    <div class="col-md-9">
        @if (ViewBag.Holders != null)
        {
            foreach (var item in ViewBag.Holders)
            {
                <span>@item</span><br/>
            }
        }
    </div>
</div><br/>

<div class="form-group">
    @Html.Label("", "", new { @class = "col-md-3 control-label" })
    <div class="col-md-offset-2 col-md-9">
        <h4>Sender's Balance is: <span style="color: #00CAFB"><span>&#163</span>@Model.Balance.ToString("F2")</span></h4>
    </div>
</div>

<h3>Receiver</h3>
<hr class="intro-divider-full"/>
<div class="form-group">
    <div class="col-md-2"><b>Account Name:</b></div>
    <div class="col-md-9">
        @ViewBag.ReciverAccountName
    </div>
</div>

<div class="form-group">
    <div class="col-md-2"><b>Account Number:</b></div>
    <div class="col-md-9">
        @ViewBag.ReciverAccountNumber
    </div>
</div>
<br/>
<br/>
<br/>
<h3>Enter Transfer Amount Below</h3>
<hr class="intro-divider-full"/>


@using (Html.BeginForm("FormatUrl", "Transfer", FormMethod.Get, new { @class = "form-horizontal col-md-8", role = "form"}))
{
    <div class="form-group">
        @Html.Label("", "Amount:", new { @class = "col-md-2 control-label" })
        <div class="col-md-9">
            @Html.TextBox("id", null, new { @class = "form-control", value = Model.Id, type="hidden"})
            @Html.TextBox("id2", null, new { @class = "form-control", value = ViewBag.Id2, type="hidden"})
            @Html.TextBox("Amount", null, new { @class = "form-control", type = "number", min = 0, required = "required", step="0.01"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-5 col-md-2">
            <input type="submit" value="Transfer" class="btn btn-default form-control"/>
        </div>
    </div>
}





